export(APR)
export(PMT)
export(PV)
export(RATE)
export(generatePDF)
export(giniChart)
export(giniCoef)
export(logit.odd)
export(logit.prob)
export(multiplot)
export(odd.logit)
export(odd.prob)
export(prob.logit)
export(prob.odd)
export(sanitise)
export(scaledScore)
export(theme_optimum)
